<footer>
    <div class="foot-cont">
        <div class="social-info">
            <div class="lan">
            <div id="globe-icon"><i class="fas fa-globe"></i> English(IN) &#8377;INR</div>
            </div>
            <div class="fb-icon"><i class="fa-brands fa-square-facebook"></i></div>
            <div class="insta-icon"><i class="fa-brands fa-square-instagram"></i></div>
            <div class="x-icon"><i class="fa-brands fa-square-x-twitter"></i></div>
        </div>

        <div>&copy; Wanderlust Private Limited</div>

        <div class="info-link">
            <a href="/privacy">Privacy</a>        
            <a href="/terms">Terms</a>        
        </div>
    </div>
</footer>